/* CSS for Body */

body {
	font-family: 'Permanent Marker', cursive;
	background-image: url(../img/bgi.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}


/* CSS for Header */

.title {
	text-align: center;
}

.tag-line {
	text-align: center;
	color: White;
	-webkit-text-stroke: 2px black;
}


/* CSS for Container */

.container {
	height: 100%;
	margin: auto;
}


/* CSS for Board and it's Contents*/

.board {
	height: 100%%;
}

.flip-container {
	margin: auto;
	height: 100%;
	width: 100%;
}

.fliprow {
	height: 100%;
	z-index: 2;
	display: none;
}

.flipper {
	transition: 0.6s;
	/* flip speed goes here */
	transform-style: preserve-3d;
	position: relative;
	float: left;
	height: 24%;
	width: 24%;
	padding: .1%;
	margin: .3%;
}

.card {
	border: 3% solid white;
	height: 100%;
	width: 100%;
	border-radius: 5%;
	margin: 3.5%;
	padding: 4%;
}


/* CSS for Footer and its Contents */

.foot {
	display: none;
}

.counter {
	text-align: right;
}


/* To change the color of text if the following options are not visible (optional) */


/* .rating, */


/* .refresh { */


/* color: white; */


/* -webkit-text-stroke: 2px black; */


/* } */


/* The START Modal (cover) */

#startModal {
	z-index: 3;
	overflow: hidden;
	height: 81vh;
}

.startContent {
	background: url(../img/start.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	margin: auto;
	padding-top: 10vh;
	border: 1px solid #888;
	height: 100%;
	width: 100%;
	text-align: center;
	color: white;
}

#start {
	margin-top: 45vh;
	margin-left: 45%;
}


/* The WIN Modal (background) */

#winModal {
	display: none;
	/* Hidden by default */
	overflow: hidden;
	/* Enable scroll if needed */
	z-index: -1;
	height: 77vh;
}


/* Modal Content/Box */

.winContent {
	overflow: hidden;
	position: absolute;
	margin: auto;
	padding-top: 10vh;
	height: 100%;
	width: 100%;
	text-align: center;
}

.starsW,
.starsB {
	color: #FFD700;
}


/* CSS for Flipping the Flip-Container */


/* entire container, keeps perspective */


/* flip the pane when hovered */

.flip-container .flipper:active,
.flip-container .flipper.active {
	transform: rotateY(-180deg);
}


/* hide back of pane during swap */

.front {
	z-index: 1;
	/* for firefox 31 */
	transform: rotateY(0deg);
	position: relative;
}


/* back, initially hidden pane */

.back {
	z-index: 0;
	transform: rotateY(-180deg);
	position: absolute;
}


/* hide back of pane during swap */

.front,
.back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	top: 0;
	left: 0;
}


/* Media Queries for different screen sizes */

@media (min-width: 1200px) {
	html {
		height: 100%;
	}
	.title,
	.tag-line {
		font-size: 35px;
	}
	.timer {
		padding-left: 3% !important;
	}
}

@media (min-width: 992px) {
	html {
		height: 100%;
	}
	.timer {
		padding-left: 3% !important;
	}
	.counter {
		padding-right: 3% !important;
	}
}

@media (max-width: 915px) {
	.fs {
		font-size: 22px;
	}
}

@media (min-width: 577px) and (max-width: 767px) {
	html {
		height: 100%;
	}
	.title,
	.tag-line {
		font-size: 25px;
	}
	.foot {
		padding-top: 5%;
	}
	.timer,
	.refresh {
		padding-left: 3% !important;
	}
	.counter {
		padding-right: 3% !important;
	}
	.rating {
		text-align: right;
	}
}

@media (max-width: 576px) {
	.title,
	.tag-line {
		font-size: 20px;
	}
	#startModal {
		height: 80vh;
	}
	.startContent {
		padding-top: 5vh;
	}
	#start {
		margin-top: 52vh;
	}
	#winModal {
		height: 80vh;
	}
	.timer,
	.counter,
	.refresh,
	.rating {
		text-align: center;
	}
	.fs {
		font-size: 20px !important;
	}
}

@media (min-width: 425px) and (max-width: 500px) {
	.foot {
		padding-top: 9%;
	}
}

@media (max-width: 425px) {
	.board {
		padding-top: 10%;
	}
	#startModal {
		height: 60vh;
	}
	#start {
		margin-top: 36vh;
	}
	.title,
	.tag-line {
		font-size: 25px;
	}
	.foot {
		padding-top: 9%;
	}
	.fs {
		font-size: 20px !important;
	}
}

@media (max-width: 325px) {
	.board {
		padding-top: 10%;
	}
	#startModal {
		height: 59vh;
	}
	#start {
		margin-top: 33vh;
	}
	.title,
	.tag-line {
		font-size: 25px;
	}
	.foot {
		padding-top: 10%;
	}
	.fs {
		font-size: 16px !important;
	}
}